//! **************************************************************************
// Written by: Map P.68d on Sat Jan 30 13:42:37 2016
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "T9" LEVEL 1;
COMP "but" LOCATE = SITE "L14" LEVEL 1;
COMP "ledka" LOCATE = SITE "P11" LEVEL 1;
COMP "hsync" LOCATE = SITE "R9" LEVEL 1;
COMP "reset" LOCATE = SITE "M13" LEVEL 1;
COMP "vsync" LOCATE = SITE "T10" LEVEL 1;
COMP "game_uk<0>" LOCATE = SITE "K12" LEVEL 1;
COMP "game_uk<1>" LOCATE = SITE "P14" LEVEL 1;
COMP "rgb<0>" LOCATE = SITE "R11" LEVEL 1;
COMP "rgb<1>" LOCATE = SITE "T12" LEVEL 1;
COMP "rgb<2>" LOCATE = SITE "R12" LEVEL 1;
COMP "ledka2" LOCATE = SITE "P12" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

